.HomeContainer {
  @reference "tailwindcss";
  @apply flex ml-auto w-full max-w-[calc(100vw-((100vw-1180px)/2))];
  min-height: 656px;
}

.Product {
  background: linear-gradient(180deg, #1ea483 0%, #7465d4 100%);
  @apply rounded-md flex items-center justify-center relative cursor-pointer overflow-hidden;

  img {
    @apply object-cover
  }

  footer {
    @apply absolute bottom-1 left-1 right-1 flex items-center justify-between p-4 rounded-md bg-black/60 translate-y-full opacity-0 transition-all;

    strong {
      @apply block;
      font-size: var(--fontSizeLg);
      font-weight: 700;
      color: var(--gray100);
    }

    span {
      @apply font-bold;
      font-size: var(--fontSizeXl);
      color: var(--green300);
    }
  }

  &:hover footer {
    @apply translate-y-0 opacity-100;
  }
}