@import "tailwindcss";

:root {
  --white: #ffffff;

  --gray900: #121214;
  --gray800: #202024;
  --gray300: #c4c4cc;
  --gray100: #e1e1e6;

  --green500: #00875f;
  --green300: #00b37e;

  --fontSizeMd: 1.125rem;
  --fontSizeLg: 1.25rem;
  --fontSizeXl: 1.5rem;
  --fontSize2xl: 2rem;

  --text-2xl: var(--fontSize2xl);
  --text-xl: var(--fontSizeXl);
  --text-lg: var(--fontSizeLg);
  --text-md: var(--fontSizeMd);

  --color-gray-900: var(--gray900);
  --color-gray-800: var(--gray800);
  --color-gray-300: var(--gray300);
  --color-gray-100: var(--gray100);
  --color-white: var(--white);
  --color-green-500: var(--green500);
  --color-green-300: var(--green300);
}
/* @theme inline {
}
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--gray900);
  color: var(--gray100);
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button {
  font-family: var(--font-roboto);
  font-weight: 400;
}
